<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <style>
        body{
            background-color: blanchedalmond;
        }
        
        #box{
            margin: 200px, 100px, 100px, 400px;
            height: 400px;
            background: white; 
            width: 60%;
            padding: 20px; 
            border: 1px solid #ddd; 
       
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
            text-align:center;
        }
        
    </style>
   
</head>
<body>
    <div id="box">
    <h3>See you next time!</h3>
    </div>
    

</body>
</html>
